# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel/

# Node
node_modules/

# System Files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Model files
*.joblib

# Logs
*.log

# Local environment variables
.env 