fastapi==0.65.2
uvicorn==0.14.0
python-multipart==0.0.5
Pillow==8.2.0
numpy==1.19.5
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.8.2%2Bcpu-cp37-cp37m-linux_x86_64.whl 